* {
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.video {
  width: 100vw;
  top: 0;
  opacity: 0.3;
  overflow: hidden;
}

.video-container {
  background-color: black;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
}

.button {
  background-color: blue;
  color: aliceblue;
}
